<mat-card *ngFor="let dataItem of Post; let i = index;" class="example-card" role="listemessages">
    <mat-card-header>
      <div mat-card-avatar class="header-image">{{ retrievedImageProfil }}</div>
      <mat-card-title>{{dataItem.title}}</mat-card-title>
      <mat-card-subtitle>{{ dataItem.postId }} et {{ dataItem.username }}</mat-card-subtitle>
    </mat-card-header>
    <div class="" *ngIf=retrievedImage>
      <img [src]="retrievedImage">
    </div>
    <mat-card-content>
      <p>
        {{dataItem.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="postId == dataItem.postId" [routerLink]="['edit', dataItem.id]" mat-button><i class="bi bi-pencil-fill">EDITER</i></button>
      <button *ngIf="postId == dataItem.postId" type="submit" class="btn btn-danger" [routerLink]="['delete', dataItem.id]" (click)="DeleteMessage()">SUPPRIMER</button>
    </mat-card-actions>
    <app-comment></app-comment>
</mat-card>
  
  
