mat-card {
    width: 100%;
    border: solid 1px;
    border-radius: 5px;
    font-size:15px;
    width: 500px;
    height: 500px;
    background: white;
    box-shadow: 5px 5px 15px 5px #555555;
}

.row {
    justify-content: center !important;
}

.header-image {
    background-size: cover;
    clip-path:ellipse(50% 50%);
    height: 60px;
    width: 60px;
    position:absolute;
  }

  img {
    background-size: cover;
    width: 100%;
  }