textarea[name=monTexte]
{
 resize : both;
 min-width : 100px;
 min-height : 100px;
 max-width : 200px;
 max-height : 200px;
}

.example-header-image {
    background-size: cover;
  }

.complet {
    padding: 20px 10px 10px 10px;
    border: solid 1px;
    border-radius: 5px;
    font-size:15px;
    width: 700px;
    min-height: 800px;
    background: white;
    box-shadow: 5px 5px 15px 5px #555555;
    @media screen and (max-width: 700px){
        height: 110%;
        width: 375px;
    }
}

.prev {
        border: solid 1px;
        border-radius: 5px;
        font-size:15px;
        width: 500px;
        min-height: 400px;
        background: white;
        box-shadow: 5px 5px 15px 5px #555555;
        margin: 30px 0px 0px 90px;
        vertical-align: middle;
        @media screen and (max-width: 700px){
            height: 110%;
            width: 375px;
            margin: 0;
            width: 100%;
        }
    
}

.prevtitre {
    text-align: left;
    vertical-align: middle;
    background: rgb(210, 210, 210);
    border-bottom: #555555 solid 1px;
    height:100px;
    width:100%;
    font-size:17px;
    border-radius: 5px 5px 0px 0px;
    display: grid;
    grid-template-areas: "img corp ."
                         "img corpsub . ";
    grid-template-columns: 20% 45% 40%;
}

.prevlib {
    text-align: center;
    font-size: 17px;
}

img {
    background-size: cover;
    width: 100%;
  }
  
    
    .header-image {
      background-size: cover;
      clip-path:ellipse(50% 50%);
      height: 60px;
      width: 60px;
      grid-area: img;
      align-self: center;
      justify-self: center;
  
    }
  
  .content {
      margin:10px;
      white-space:normal;
      width:90%
  }
  
  .titleprev {
    margin-bottom: 0px;
    margin-left: 10px;
    grid-area: corpsub;
  }
  
  .nameprev {
    font-weight: bold;
    margin: 10px;
    font-size:17px;
    grid-area: corp;
  }
  
  .card-img {
    min-height:100px;
  }
