.btn_comment {
    margin: 10px 10px 10px 10px;
    float:right;
}

.btn_ajout {
    margin:10px;
    float:left;
}

.comment {
    margin:10px;
    float: left;
    width:100%;
    border: solid 1px blue;
}

.container {
    max-width: 100%;
}