<div class="container">
    <form (ngSubmit)="addcomment(a)" #a="ngForm">
        <label for="content">Commentaires</label>
        <input type="text" class="form-control" [(ngModel)]="content" name="content" required>
        <button class="btn_ajout" type="submit" [disabled]="a.invalid">Ajouter</button>
    </form>
    <button class="btn_comment" *ngIf="!commentafficher" (click)="viewcomment($event)">Voir les commentaires</button>
    <button class="btn_comment" *ngIf="commentafficher" (click)="commentMasquer()">Masquer les commentaires</button>

    
    <div *ngFor="let c of Comment" >   
        <div   *ngFor="let p of Posts">
        <div *ngIf="commentafficher" class="comment">
           <div>{{ checkc }} {{ check }} {{ c.id }} et {{ c.post_id }}</div> 
            <div>{{ c.content }}</div> <button *ngIf="utilisateurId == c.user_id" (click)="deletecomment(c.id)">delete Comment</button>
        </div>
    </div>
    </div>

</div>
