
<div class="justify-content-center profil-tab">
    <div class="justify-content-center text-center titleProfil">
        Profil Utilisateur
    </div>
    <div class="tab-pane active" >
        <div *ngFor="let profil of Profil" class="grid">
            <div id="right-profil" class="d-flex justify-content-center">
            <label class="img d-flex justify-content-center" for="imageUrl">Image du profil</label>
                <img *ngIf="retrievedImage" class="img-carree" [src]="retrievedImage" name="imageUrl">
                <input type="file" (change)="onFileSelected($event)">
                <button type="button" (click)="UpdateProfil_image()">Enregistrer</button>
            </div>
            <form id="left-profil" (ngSubmit)="UpdateEmail(em)" #em="ngForm">
                <label for="email">Adresse Email</label>
                <div *ngIf="!modif_e" class="email" name="email">{{profil.email}}</div>
                <input *ngIf="modif_e" type="email" class="email" name="email" [(ngModel)]="email" required>
                <button class="btn-modif"  class="btn btn-primary" *ngIf="userId == profil.userId && !modif_e" (click)="UpdateOn_e()">Modifier</button> 
                <button  type="submit" class="btn-modif"  class="btn btn-primary" *ngIf="modif_e">Enregistrer</button>
                <button type="button" (click)="Cancel()" *ngIf="modif_e">Annuler</button>
            </form>
            <form id="leftdeux-profil" (ngSubmit)="UpdateUsername(us)" #us="ngForm">
                <label for="user">Nom d'utilisateur</label>
                <div *ngIf="!modif_u" class="user" name="user">{{profil.username}}</div>
                <input  *ngIf="modif_u" type="text" class="username" name="username" value="{{profil.username}}" [(ngModel)]="username">
                <button class="btn-modif"  class="btn btn-primary" *ngIf="!modif_u" (click)="UpdateOn_u()">Modifier</button> 
                <button  type="submit" class="btn-modif" class="btn btn-primary" *ngIf="modif_u">Enregistrer</button>
                <button type="button" (click)="Cancel()" *ngIf="modif_u">Annuler</button>
            </form>
            <form id="lefttrois-profil" (ngSubmit)="UpdateBio(pref)" #pref="ngForm">
                <label for="bio">Vos Préférences</label>
                <div *ngIf="!modif_b" class="bio" name="bio">{{profil.bio}}</div>
                <textarea *ngIf="modif_b" type="text" class="bio" name="bio" value="{{profil.bio}}" [(ngModel)]="bio"></textarea>
                <button class="btn-modif"  class="btn btn-primary" *ngIf="!modif_b" (click)="UpdateOn_b()">Modifier</button> 
                <button  type="submit" class="btn-modif"  class="btn btn-primary" *ngIf="modif_b">Enregistrer</button>
                <button type="button" (click)="Cancel()" *ngIf="modif_b">Annuler</button>
            </form>        
            <div class="btn">Supprimer le compte 
                <button aria-label="Supprimer le compte" *ngIf="userId == profil.userId" type="submit" class="btn btn-danger" [routerLink]="['../register']" (click)="DeleteAccount()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
                </button>
            </div>
    </div>
</div>

